<div *ngIf="issloading == false">
  <mat-stepper mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Seleccionar Proyecto</ng-template>
        <mat-card class="example-card">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-subtitle>INFORME FINAL</mat-card-subtitle>
          <mat-card-title>INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY</mat-card-title>
          <mat-card-title>COORDINACIÓN DE VINCULACIÓN CON LA SOCIEDAD</mat-card-title>
        </mat-card>
        <mat-card-content>
          <div id="contenedor">
            <div id="cabecera">
              <mat-form-field appearance="outline" style="width: 90%">
                <mat-label>BUSCAR...</mat-label>
                <input matInput placeholder="FILTRAR" [formControl]="myControl">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
              <cdk-virtual-scroll-viewport appendOnly itemSize="40" class="example-viewport1">
                <mat-selection-list #shoes [multiple]="false" (selectionChange)="selectionProyecto($event)"
                                    formControlName="proyecto">
                  <mat-list-option *ngFor="let option of filteredOptions | async" [value]="option" >
                    Proyecto: {{option.nombre}} Director de Proyecto:{{option.nombredirector}}
                  </mat-list-option>
                </mat-selection-list>
              </cdk-virtual-scroll-viewport>
              <br>
              <p style="font-size: medium">
                <strong>Proyecto Seleccionado: </strong>{{proyectoSelect.nombre}}
              </p>
            </div>
          </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <br>
        <div style="text-align: end">
          <button mat-fab matStepperPrevious color="warn" style="margin-right: 5px">
            <mat-icon>undo</mat-icon>
          </button>
          <button mat-fab matStepperNext color="primary">
            <mat-icon>queue_play_next</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
   <mat-step [stepControl]="secondFormGroup" label="1 DATOS INFORMATIVOS DEL PROYECTO">
      <form [formGroup]="secondFormGroup">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><br><br> INFORMACIÓN DEL PROYECTO</mat-card-title>
          <mat-card-subtitle><br/>
            PROYECTOS DE VINCULACIÓN CON LA SOCIEDAD <br/>
            INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY <br/>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-card class="example-card">
            <mat-list>
              <mat-list-item>
                <strong> Programa de Vinculación:  </strong>{{proyectoSelect.programaVinculacion}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><strong>Línea de acción: </strong> {{proyectoSelect.lineaaccion}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><strong>Nombre del Proyecto: </strong> {{proyectoSelect.nombre}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><strong>Carrera: </strong> {{carreraSelect.nombre}}</mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
          </mat-card>
        </mat-card-content>
        <mat-divider></mat-divider>
        <br>
        <div style="text-align: end">
          <button mat-fab matStepperPrevious color="warn" style="margin-right: 5px">
            <mat-icon>undo</mat-icon>
          </button>
          <button mat-fab matStepperNext color="primary">
            <mat-icon>queue_play_next</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="DOCENTES PARTICIPANTES">
      <form [formGroup]="thirdFormGroup">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><br><br> INFORME Final</mat-card-title>
          <mat-card-subtitle><br/>
            PROYECTOS DE VINCULACIÓN CON LA SOCIEDAD <br/>
            INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY <br/>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-grid-list cols="3" rowHeight="6:1.10" [formGroup]="thirdFormGroup">
            <div style="margin-top: 15px">
              <h3>1.5 Equipo de Trabajo</h3>
              <br>
              <br>
              <div>
                <h3>DOCENTES PARTICIPANTES</h3>
                <mat-grid-tile colspan="3" *ngFor="let row of thirdFormGroup.get('rows')?.controls;let index = index;">

                  <mat-form-field style="width: 380px" appearance="outline">
                    <mat-label>Nombres y Apellidos</mat-label>
                    <input matInput type="text" [formControl]="row.get('nombres')"
                           placeholder="Nombre completo" [required]>
                  </mat-form-field>

                  <mat-form-field style="width: 380px" appearance="outline">
                    <mat-label>No. Cédula</mat-label>
                    <input matInput [formControl]="row.get('cedula')"
                           placeholder="9999......." [required]>
                  </mat-form-field>
                  <mat-form-field style="width: 380px" appearance="outline">
                    <mat-label>Carrera</mat-label>
                    <input matInput [formControl]="row.get('carrera')"
                           placeholder="Carrera" [required]>
                  </mat-form-field>
                  <mat-form-field style="width: 380px" appearance="outline">
                    <mat-label>Número total de horas de Vinculación</mat-label>
                    <input matInput [formControl]="row.get('numeroHoras')"
                           placeholder="60" [required]>
                  </mat-form-field>
                </mat-grid-tile>
              </div>
            </div>
          </mat-grid-list>
        </mat-card-content>
        <mat-divider></mat-divider>
        <br>
        <div style="text-align: end">
          <button mat-fab matStepperPrevious color="warn" style="margin-right: 5px">
            <mat-icon>undo</mat-icon>
          </button>
          <button mat-fab matStepperNext color="primary">
            <mat-icon>queue_play_next</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fourFormGroup" label="ESTUDIANTES PARTICIPANTES">
      <form [formGroup]="fourFormGroup">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><br><br> INFORME FINAL</mat-card-title>
          <mat-card-subtitle><br/>
            PROYECTOS DE VINCULACIÓN CON LA SOCIEDAD <br/>
            INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY <br/>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-grid-list cols="3" rowHeight="6:1.10" [formGroup]="fourFormGroup">
            <div style="margin-top: 15px">
              <h3>1.5 Equipo de Trabajo</h3>
              <br>
              <br>
              <div>
                <h3>ESTUDIANTES PARTICIPANTES</h3>
                <mat-grid-tile colspan="3" *ngFor="let row of fourFormGroup.get('rowsEst')?.controls;let index = index;">
                  <!--Carga de lista de nombres-->
                  <mat-form-field style="width: 380px" appearance="outline">
                    <mat-label>Nombres y Apellidos</mat-label>
                    <input matInput type="text" [formControl]="row.get('nombres')"
                           placeholder="Nombre completo" [required]>
                  </mat-form-field>
                  <mat-form-field style="width: 380px" appearance="outline">
                    <mat-label>Código Estudiante</mat-label>
                    <input matInput type="text" [formControl]="row.get('cod_estudiante')"
                           placeholder="Código" [required]>
                  </mat-form-field>

                  <mat-form-field style="width: 380px" appearance="outline">
                    <mat-label>No. Cédula</mat-label>
                    <input matInput [formControl]="row.get('cedula')"
                           placeholder="9999......." [required]>
                  </mat-form-field>
                  <mat-form-field style="width: 380px" appearance="outline">
                    <mat-label>Carrera</mat-label>
                    <input matInput [formControl]="row.get('carrera')"
                           placeholder="Codigo Carrera" [required]>
                  </mat-form-field>
                  <mat-form-field style="width: 380px" appearance="outline">
                    <mat-label>Número total de horas de Vinculación</mat-label>
                    <input matInput [formControl]="row.get('numeroHoras')"
                           placeholder="60" [required]>
                  </mat-form-field>
                </mat-grid-tile>
              </div>
            </div>
          </mat-grid-list>
        </mat-card-content>
        <mat-divider></mat-divider>
        <br>
        <div style="text-align: end">
          <button mat-fab matStepperPrevious color="warn" style="margin-right: 5px">
            <mat-icon>undo</mat-icon>
          </button>
          <button mat-fab matStepperNext color="primary">
            <mat-icon>queue_play_next</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="fiveFormGroup" label="DATOS INFORMATIVOS DEL PROYECTO">
      <form [formGroup]="fiveFormGroup">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><br><br> INFORMACIÓN DEL PROYECTO</mat-card-title>
          <mat-card-subtitle><br/>
            PROYECTOS DE VINCULACIÓN CON LA SOCIEDAD <br/>
            INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY <br/>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-card class="example-card">
            <mat-list>
              <mat-list-item><strong>1.6 Entidad Beneficiaria:  </strong>{{entidadSelect.nombre}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><strong>1.7 Plazo de Ejecución del Proyecto </strong> </mat-list-item>

              <mat-list-item><strong>Fecha de Inicio de Proyecto: </strong> {{proyectoSelect.fechaInicio}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><strong>Fecha de fin planeado: </strong> {{proyectoSelect.fechaFin}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><strong>Fecha de seguimiento: </strong>{{fecha | date:'mediumDate'}} </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><strong>Fecha de inicio real: </strong><input type="date" formControlName="fecha" [(ngModel)]="informe.fechaInicioReal "></mat-list-item>
              <mat-divider></mat-divider>
              <br>
              <br>
              <mat-list-item><strong>Fecha de fin real: </strong><input type="date" formControlName="fecha" [(ngModel)]="informe.fechaFinReal" >
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
          </mat-card>
        </mat-card-content>
        <mat-divider></mat-divider>
        <br>
        <div style="text-align: end">
          <button mat-fab matStepperPrevious color="warn" style="margin-right: 5px">
            <mat-icon>undo</mat-icon>
          </button>
          <button mat-fab matStepperNext color="primary">
            <mat-icon>queue_play_next</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="sixFormGroup" label="2 RESUMEN DEL PROYECTO">
      <form [formGroup]="sixFormGroup">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><br><br> INFORMACIÓN DEL PROYECTO</mat-card-title>
          <mat-card-subtitle><br/>
            PROYECTOS DE VINCULACIÓN CON LA SOCIEDAD <br/>
            INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY <br/>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-card class="example-card">
            <mat-list>
              <mat-list-item><strong>2.1 Alcance territorial del proyecto: </strong>{{proyectoSelect.alcanceTerritorial}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><strong>2.2 Objetivo General: </strong> {{proyectoSelect.objetivoGeneral}}</mat-list-item>
              <mat-divider></mat-divider>

            </mat-list>
          </mat-card>
          <mat-grid-list cols="3" rowHeight="6:1.10" [formGroup]="sixFormGroup">
            <div style="margin-top: 15px">

              <br>
              <br>
              <div>
                <h3>Objetivos Especificos</h3>
                <mat-grid-tile colspan="3" *ngFor="let row of sixFormGroup.get('rowsObje')?.controls;let index = index;">

                  <mat-form-field style="width: 380px" appearance="outline">
                    <mat-label>Objetivos</mat-label>
                    <input matInput type="text" [formControl]="row.get('descripcion')"
                           placeholder="Descripcion" [required]>
                  </mat-form-field>


                </mat-grid-tile>
              </div>
            </div>
          </mat-grid-list>
          <br>
          <mat-label><strong>Situación al inicio de la ejecución del proyecto </strong></mat-label>
          <br>
          <mat-form-field appearance="fill" style="width: 100%; margin-left: 2px">
            <mat-label> <strong>Situación inicial </strong></mat-label>
            <textarea   matInput formControlName="situacion" [(ngModel)]="informe.situacionInicialenbeficiarios" name="situacionInicial" ></textarea>
          </mat-form-field>
          <br>
          <mat-label><strong>Situación actual de los beneficiarios </strong></mat-label>
          <br>
          <mat-form-field appearance="fill" style="width: 100%; margin-left: 2px">
            <mat-label><strong>Situación actual</strong></mat-label>
            <textarea   matInput formControlName="situacionA" [(ngModel)]="informe.situacionActualBeneficiarios" name="situacionActual" ></textarea>
          </mat-form-field>
        </mat-card-content>
        <mat-divider></mat-divider>
        <br>
        <div style="text-align: end">
          <button mat-fab matStepperPrevious color="warn" style="margin-right: 5px">
            <mat-icon>undo</mat-icon>
          </button>
          <button mat-fab matStepperNext color="primary">
            <mat-icon>queue_play_next</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="sevenFormGroup" label="VERIFICACIÓN">
      <form [formGroup]="sevenFormGroup">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><br><br> INFORME DE FINAL</mat-card-title>
          <mat-card-subtitle><br/>
            PROYECTOS DE VINCULACIÓN CON LA SOCIEDAD <br/>
            INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY <br/>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-grid-list cols="3" rowHeight="6:1.10" [formGroup]="secondFormGroup">
            <div style="margin-top: 15px">
              <h3><strong>2.6 Descripción de las actividades realizadas durante la ejecución del proyecto</strong></h3>
              <br>
              <br>
              <div>
                <mat-grid-tile colspan="3" *ngFor="let row of sevenFormGroup.get('rowsInfo')?.controls;let index = index;">
                  <!--Carga de lista de actividades-->
                  <mat-form-field style="width: 380px" appearance="outline">
                    <mat-label><strong>Actividades</strong></mat-label>
                    <input matInput type="text" [formControl]="row.get('actividades')"
                           placeholder="Actividades" [required]>
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="outline" style="width: 180px">
                    <mat-label><strong>Porcentaje Cumplimiento (%)</strong>{{index}}</mat-label>
                    <input matInput type="number" min="0" max="100" [formControl]="row.get('porcentajeCumplimiento')"
                           placeholder="Avance de la Actividad (%)" [required]>
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="outline" style="width: 180px">
                    <mat-label><strong>Fecha de Ejecucion</strong>{{index}}</mat-label>
                    <input matInput type="date"  [formControl]="row.get('fechaEjecucion')"
                           [required]>
                  </mat-form-field>
                  <mat-form-field style="width: 380px" appearance="outline">
                    <mat-label><strong>Responsable de la Ejecución</strong></mat-label>
                    <input matInput type="text" [formControl]="row.get('responsableEjecucion')"
                           placeholder="Responsable" [required]>
                  </mat-form-field>
                  <mat-form-field style="width: 380px" appearance="outline">
                    <mat-label><strong>Documento de Evidencia</strong></mat-label>
                    <input matInput type="text" [formControl]="row.get('documento')"
                           placeholder="Especifique el anexo correspondiente" [required]>

                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label><strong>Observaciones</strong></mat-label>
                    <textarea matInput type="text" [formControl]="row.get('observaciones')"  placeholder="Observaciones" [required]></textarea>
                  </mat-form-field>
                  <span class="example-spacer"></span>
                </mat-grid-tile>
              </div>
            </div>
          </mat-grid-list>

        </mat-card-content>
        <div style="text-align: end">
          <button mat-fab matStepperPrevious color="warn" style="margin-right: 5px">
            <mat-icon>undo</mat-icon>
          </button>
          <button mat-fab matStepperNext color="primary">
            <mat-icon>queue_play_next</mat-icon>
          </button>

        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="tenFormGroup" label="3 VERIFICACIÓN DE RESULTADOS">
      <form [formGroup]="tenFormGroup">

        <mat-card-content>


          <mat-label><strong>3.1 Impacto Generado</strong></mat-label>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Seleccione el impacto</mat-label>
            <mat-select [(ngModel)]="informe.impacto" formControlName="impacto" >
              <mat-option value="Impacto Social">Impacto Social</mat-option>
              <mat-option value="Impacto Científico">Impacto Científico</mat-option>
              <mat-option value="Impacto Económico">Impacto Económico</mat-option>
              <mat-option value="Impacto Político">Impacto Político</mat-option>
              <mat-option value="Otro Impacto">Otro Impacto</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-label><strong>3.2 Descripción de Impacto Generado</strong></mat-label>
          <br>
          <mat-form-field appearance="fill" style="width: 100%; margin-left: 2px">
            <mat-label>Descripción</mat-label>
            <textarea   matInput formControlName="descripcionImpacto" [(ngModel)]="informe.descripcionImpacto" name="descripcionImpacto"
                        placeholder="Exponer brevemente el impacto generado conforme a lo seleccionado en el punto 3.1 la descripción
debe realizarse por cada uno de los ítems señalados. Es decir si se encuentra señalado Impacto
político e Impacto Económico, se deberá describir por separado cada uno de ellos.
"></textarea>
          </mat-form-field>
          <br>
          <mat-label><strong>3.3 Indicadores</strong></mat-label>
          <mat-grid-list cols="3" rowHeight="6:1.10" [formGroup]="tenFormGroup">
            <div style="margin-top: 15px">
              <mat-grid-tile colspan="3" >
                <button mat-fab color="primary" (click)="onAddRowIndi()" ><mat-icon>add_circle</mat-icon></button>
              </mat-grid-tile>
              <br>
              <mat-grid-tile colspan="3" *ngFor="let row of tenFormGroup.get('rowsIndicadores')?.controls;let index = index;">

                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Descripción del indicador</mat-label>
                  <input matInput type="text"   [formControl]="row.get('descripcion')"  placeholder="" [required]>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Tipo</mat-label>
                  <input matInput type="text"   [formControl]="row.get('tipo')"  placeholder="Elija un elemento" [required]>
                </mat-form-field>


                <span class="example-spacer"></span>
                <button mat-mini-fab color="warn" style="margin-left: 50px" (click)="onRemoveRowIndi(index)" [disabled]=""><mat-icon>delete_sweep</mat-icon></button>
              </mat-grid-tile>
            </div>
          </mat-grid-list>

        <br>
          <mat-label><strong>3.4 Resultados de los Indicadores de Impacto</strong></mat-label>
          <br>
          <mat-form-field appearance="fill" style="width: 100%; margin-left: 2px">
            <mat-label>Resultados</mat-label>
            <textarea   matInput formControlName="resultadoIndicadores" [(ngModel)]="informe.resultadoIndicadores" name="resultadoIndicadores"
                        placeholder="Presentar los resultados de los indicadores de impacto expuestos en el punto anterior.
"></textarea>
          </mat-form-field>
        <br>
          <mat-label><strong>3.5 Matriz de verificación de indicadores de objetivos</strong></mat-label>
          <mat-grid-list cols="3" rowHeight="6:1.10" [formGroup]="tenFormGroup">
            <div style="margin-top: 15px">
              <mat-grid-tile colspan="3" >

              </mat-grid-tile>

              <mat-grid-tile colspan="3" *ngFor="let row of tenFormGroup.get('rowsMatriz')?.controls;let index = index;">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Objetivo Específico</mat-label>
                  <input matInput type="text"   [formControl]="row.get('ObjetivosEspecifico')"  placeholder="" [required]>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Indicador</mat-label>
                  <input matInput type="text"   [formControl]="row.get('indicadores')"  placeholder="Elija un elemento" [required]>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Resultado Planificado</mat-label>
                  <input matInput type="text"   [formControl]="row.get('resultadoPlanificado')"  placeholder="Elija un elemento" [required]>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Resultado Obtenido</mat-label>
                  <input matInput type="text"   [formControl]="row.get('resultadoObtenido')"  placeholder="Elija un elemento" [required]>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Observaciones</mat-label>
                  <input matInput type="text"   [formControl]="row.get('observaciones')"  placeholder="Elija un elemento" [required]>
                </mat-form-field>


                <span class="example-spacer"></span>

              </mat-grid-tile>
            </div>
          </mat-grid-list>
          <mat-label><strong>3.6 Resultados alcanzados / Productos obtenidos: </strong></mat-label>
          <br>
          <mat-form-field appearance="fill" style="width: 100%; margin-left: 2px">
            <mat-label><strong>Resultados</strong></mat-label>
            <textarea   matInput formControlName="productoObtenido" [(ngModel)]="informe.productoObtenido" name="productoObtenido"
                        placeholder="Exponer brevemente los resultados alcanzados y/o productos obtenidos"></textarea>
          </mat-form-field>
          <br>
          <mat-label><strong>3.7 Observaciones</strong></mat-label>
          <br>
          <mat-form-field appearance="fill" style="width: 100%; margin-left: 2px">
            <mat-label>Observaciones</mat-label>
            <textarea   matInput [(ngModel)]="informe.observaciones" name="observacionesInformeSeguimiento" [ngModelOptions]="{standalone: true}"
                        placeholder="Exponer las diferentes dificultades que se presentaron durante la ejecución del proyecto:
- Cambios generados con el número de estudiantes participantes.
- Problemas generados para iniciar o finalizar el proyecto en las fechas aprobadas
- Cambio de docentes a cargo de estudiantes, etc."></textarea>
          </mat-form-field>
          <br>
        </mat-card-content>
        <mat-divider></mat-divider>
        <br>
        <div style="text-align: end">
          <button mat-fab matStepperPrevious color="warn" style="margin-right: 5px">
            <mat-icon>undo</mat-icon>
          </button>
          <button mat-fab matStepperNext color="primary">
            <mat-icon>queue_play_next</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="eigthFormGroup" label="4 CONCLUSIONES Y RECOMENDACIONES">
      <form [formGroup]="eigthFormGroup">

        <mat-card-content>


          <mat-label><strong>4.1 Conclusiones</strong></mat-label>
          <br>
          <mat-form-field appearance="fill" style="width: 100%; margin-left: 2px">
            <mat-label><strong>Conclusiones</strong></mat-label>
            <textarea   matInput [(ngModel)]="informe.conclusiones" name="conclusiones" formControlName="conclusiones"
                        placeholder="Describir las enseñanzas aprendidas durante la ejecución del proyecto.
"></textarea>
          </mat-form-field>
          <br>
          <mat-label><strong>4.2 Recomendaciones</strong></mat-label>
          <br>
          <mat-form-field appearance="fill" style="width: 100%; margin-left: 2px">
            <mat-label>Recomendaciones</mat-label>
            <textarea   matInput [(ngModel)]="informe.recomendaciones" name="recomendaciones" formControlName="recomendaciones"

                        placeholder="Describir las recomendaciones en función de los logros y resultados obtenidos, para plantear posibles
acciones futuras"></textarea>
          </mat-form-field>
          <br>


          <mat-form-field appearance="fill" style="width: 100%; margin-left: 2px">
            <mat-label>Fecha Entrega</mat-label>
            <input type="date"   matInput [(ngModel)]="informe.fechaEntrega" formControlName="fechaEn"
                  >
          </mat-form-field>

        </mat-card-content>
        <mat-divider></mat-divider>
        <br>
        <div style="text-align: end">
          <button mat-fab matStepperPrevious color="warn" style="margin-right: 5px">
            <mat-icon>undo</mat-icon>
          </button>
          <button mat-fab matStepperNext color="primary">
            <mat-icon>queue_play_next</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="nineFormGroup" label="Documento">
      <form [formGroup]="nineFormGroup">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title><br><br> INFORME FINAL</mat-card-title>
            <mat-card-subtitle><br />
              PROYECTOS DE VINCULACIÓN CON LA SOCIEDAD <br />
              INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY <br />
            </mat-card-subtitle>
          </mat-card-header>
          <h4>Debe obtener el anexo en "Obtener Anexo" y posteriormente deberá firmar y subir de en formato PDF</h4>
          <div>
            <button mat-raised-button color="primary" (click)="generarDocumento()">Obtener Anexo</button>
            <mat-form-field appearance="outline" style="width: 75%; margin-left: 10px" >
              <ngx-mat-file-input accept="application/pdf"  (change)="subirDocumento($event.target.files)"  formControlName="docx" placeholder="Subir Documento"></ngx-mat-file-input>
                <mat-icon matSuffix>folder</mat-icon>
              </mat-form-field>
            </div>
            <mat-card-content>
              <div>
                <button mat-button matStepperPrevious color="primary">Atrás</button>
                <button mat-button matStepperNext color="warn">Siguente</button>
              </div>
            </mat-card-content>
          </mat-card>
        </form>
      </mat-step>
    <mat-step  label="CONFIRMAR">
        <mat-card style="width: 600px;margin: 0 auto">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Informe Final</mat-card-title>
            <mat-card-subtitle>Guardar Informe Final </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div>
              <button mat-button matStepperPrevious color="primary">Atras</button>
              <button mat-flat-button color="warn" (click)="guardarAnexo()">GUARDAR</button>
             </div>
           </mat-card-content>
         </mat-card>
       </mat-step>
     </mat-stepper>
   </div>
