<!--La pagina inical-->
<section class="bst-section">
  <!--mat-toolbar barra superior de pagina-->
  <mat-toolbar class="mat-bar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"  (click)="drawer.toggle()" >
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{persona.nombrescompletos}}</span>
    <span class="example-spacer"></span>
    <!--button para el cerrar sesión-->
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>
  <!--mat-drawer maneja la barra laterial
  para ser visible/no visible, ademas contiene
   los botones de navegacion-->
  <mat-drawer-container autosize>
    <mat-drawer #drawer class="example-sidenav"  opened="true" mode="side">
      <div class="contenedor-perfil">
        <img class="imagem-mat" [src]="foto">
        <div>
          <h4>{{rolnombre}}</h4>
        </div>
      </div>
      <!--ng-container contine los botones nevegacion-->
      <ng-container>
        <!--ng-div el switch hace visible las opciones donde el usuario puede acceder.-->
        <div [ngSwitch]="persona.rol">
          <!--Autoriadad-->
          <div class="list-group" *ngSwitchCase="'AUT'">
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Coordinador de Vinculación
                </mat-panel-title>
              </mat-expansion-panel-header>
              <!--Redireccion con los routerlink-->
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/cordinadorvinculacion']"
                      routerLinkActive="active">-Nueva Asignación</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/vercordinadorvinculacion']"
                      routerLinkActive="active">-Asignación Actual</button>
            </mat-expansion-panel>
          </div>
          <!--Cordinado de VC-->
          <div class="list-group" *ngSwitchCase="'CV'">
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Entidad Beneficiaria
                </mat-panel-title>
              </mat-expansion-panel-header>
              <!--Redireccion con los routerlink-->
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/nuevaentidadbenefiaria',persona.id]"
                      routerLinkActive="active">-Nueva Entidad</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/verentidadesbenefiarias']"
                      routerLinkActive="active">-Ver Entidades Actuales</button>
            </mat-expansion-panel>
          </div>
          <!--Cordinado de Carrera-->
          <div class="list-group" *ngSwitchCase="'CC'">
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Resposable de Practicas PreProfesionales
                </mat-panel-title>
              </mat-expansion-panel-header>
              <!--Redireccion con los routerlink-->
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/nuevoresponsable',persona.cedula]"
                      routerLinkActive="active">-Nueva Asignación</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/verresponsable',persona.cedula]"
                      routerLinkActive="active">-Asignación Actual</button>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Proyecto de Vinculación a la Sociedad
                </mat-panel-title>
              </mat-expansion-panel-header>
              <!--Redireccion con los routerlink-->
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/nuevoproyecto',persona.cedula,persona.nombrescompletos]"
                      routerLinkActive="active">-Nueva Proyecto</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/verproyecto',persona.cedula,persona.nombrescompletos]"
                      routerLinkActive="active">-Proyectos Actuales</button>
            </mat-expansion-panel>
          </div>
          <!--Docente de Apoyo-->
          <div class="list-group" *ngSwitchCase="'DA'">
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Firmas de anexo
                </mat-panel-title>
              </mat-expansion-panel-header>
              <!--Redireccion con los routerlink-->
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/docentedeapoyo',persona.cedula]"
                      routerLinkActive="active">-Anexo 1</button>
            </mat-expansion-panel>
          </div>
          <!--Resposanle de PPP-->
          <div class="list-group" *ngSwitchCase="'RPPP'">
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Otros datos del los Proyectos
                </mat-panel-title>
              </mat-expansion-panel-header>
              <!--Redireccion con los routerlink-->
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/verproyectos1',persona.cedula]"
                      routerLinkActive="active">Actvidades y Materias</button>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                 Convocatorias
                </mat-panel-title>
              </mat-expansion-panel-header>
              <!--Redireccion con los routerlink-->
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/nuevaconvocatoria',persona.cedula]"
                      routerLinkActive="active">Nueva convocatorias</button>
            </mat-expansion-panel>
          </div>
        </div>
      </ng-container>
    </mat-drawer>
    <!--Main contiene los demas componetes dentro de div-->
    <div class="example-sidenav-content">
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
    <!--Pie de pàgina-->
  </mat-drawer-container>
  <app-footer></app-footer>
  <!--Muentra la animacion de carga-->
  <ng-container *ngIf="issloading">
    <div class="bss-loader">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
</section>
