
<section class="bst-section">

  <mat-toolbar class="mat-bar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"  (click)="drawer.toggle()" >
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{persona.nombrescompletos}}</span>
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>

  <mat-drawer-container autosize>
    <mat-drawer #drawer class="example-sidenav"  opened="true" mode="side">
      <div class="contenedor-perfil">
        <div class="imagem-mat" style="background-image:url({{persona.urlFoto}})" referrerpolicy="no-referrer"></div>
        <div>
          <h4>{{rolnombre}}</h4>
        </div>
      </div>

      <ng-container>

        <div [ngSwitch]="persona.rol">

          <div class="list-group" *ngSwitchCase="'AUT'">
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Coordinador de Vinculación
                </mat-panel-title>
              </mat-expansion-panel-header>

              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/cordinadorvinculacion']"
                      routerLinkActive="active">-Nueva Asignación</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/vercordinadorvinculacion']"
                      routerLinkActive="active">-Asignación Actual</button>
            </mat-expansion-panel>
          </div>
          <!--Cordinado de VC-->
          <div class="list-group" *ngSwitchCase="'CV'">
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Firmas de anexos
                </mat-panel-title>
              </mat-expansion-panel-header>

              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/firmarplandeaprondizaje',persona.cedula]"
                      routerLinkActive="active">-Plan de aprendizaje (Anexo 6)</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/firmaestudiantesseleccionado',persona.nombrescompletos]"
                      routerLinkActive="active">-Firmar Informe de aceptacion de alumnos</button>Y
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Entidad Beneficiaria
                </mat-panel-title>
              </mat-expansion-panel-header>

              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/nuevaentidadbenefiaria',persona.id]"
                      routerLinkActive="active">-Nueva Entidad Beneficiaria</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/verentidadesbenefiarias']"
                      routerLinkActive="active">-Ver Entidades Creadas</button>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Firmar Informe de Seguimiento y Final
                </mat-panel-title>
              </mat-expansion-panel-header>

              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/firmar_informe_seguimiento',persona.cedula, persona.nombrescompletos]"
                      routerLinkActive="active">-Firmar Informe de Seguimiento</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/firmar_informe_final',persona.cedula, persona.nombrescompletos]"
                      routerLinkActive="active">-Firmar Informe Final</button>

            </mat-expansion-panel>
          </div>
          <!--Cordinado de Carrera-->
          <div class="list-group" *ngSwitchCase="'CC'">
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Responsable de Prácticas PreProfesionales
                </mat-panel-title>
              </mat-expansion-panel-header>

              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/nuevoresponsable',persona.cedula]"
                      routerLinkActive="active">-Nueva Asignación</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/verresponsable',persona.cedula]"
                      routerLinkActive="active">-Asignación Actual</button>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Proyecto de Vinculación con la Sociedad
                </mat-panel-title>
              </mat-expansion-panel-header>

              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/nuevoproyecto',persona.cedula,persona.nombrescompletos]"
                      routerLinkActive="active">-Nuevo Proyecto</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/verproyecto',persona.cedula,persona.nombrescompletos]"
                      routerLinkActive="active">-Proyectos Creados</button>
            </mat-expansion-panel>
          </div>
          <!--Docente de Apoyo-->
          <div class="list-group" *ngSwitchCase="'DA'">
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Firmas de anexos
                </mat-panel-title>
              </mat-expansion-panel-header>

              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/docentedeapoyo',persona.cedula]"
                      routerLinkActive="active">-Delegación Docente de Proyecto (Anexo 1)</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/delegaciondealumnosfirma',persona.cedula]"
                      routerLinkActive="active">-Delegación de Alumnos (Anexo 5)</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/firmarpladeaprendizajeapoyo',persona.cedula]"
                      routerLinkActive="active">-Revisión de Informe Culminación (Anexo 10)</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/firmaranexo8',persona.cedula,persona.nombrescompletos]"
                      routerLinkActive="active">-REVISAR Y FIRMAR ANEXOS 8</button>

            </mat-expansion-panel>
            <br>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header >
                <mat-panel-title >
                  Seguimiento de Aprendizaje Parcial (Anexo 6.1)
                </mat-panel-title>
              </mat-expansion-panel-header>

              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/anexo6_1',persona.id,persona.cedula,persona.nombrescompletos]"
                      routerLinkActive="active">-Nuevo Seguimiento Parcial</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/veranexos6_1',persona.cedula,persona.nombrescompletos]"
                      routerLinkActive="active">-Ver Seguimientos Parciales</button>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Seguimiento de Aprendizaje Final (Anexo 6.2)
                </mat-panel-title>
              </mat-expansion-panel-header>

              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/anexo6_2',persona.id,persona.cedula,persona.nombrescompletos]"
                      routerLinkActive="active">-Nuevo Seguimiento Final</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/veranexos6_2',persona.cedula,persona.nombrescompletos]"
                      routerLinkActive="active">-Ver Seguimientos Finales</button>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Seguimiento Mensual según Planificación (Anexo 9)
                </mat-panel-title>
              </mat-expansion-panel-header>

              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/seguimiento_mensual',persona.cedula, persona.nombrescompletos]"
                      routerLinkActive="active">-Nuevo Seguimiento Mensual</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/ver_seguimiento_mensual',persona.cedula, persona.nombrescompletos]"
                      routerLinkActive="active">-Ver Seguimientos Mensuales</button>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Evaluación al Estudiante (Anexo 11)
                </mat-panel-title>
              </mat-expansion-panel-header>

              <  <!--Redireccion con los routerlink-->
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/anexo11',persona.cedula,persona.nombrescompletos]"
                      routerLinkActive="active">-Evaluacion Estudiante</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/veranexo11apoyo',persona.cedula,persona.nombrescompletos]"
                      routerLinkActive="active">-Ver Evaluaciones</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/firmaanexo11apoyo',persona.cedula,persona.nombrescompletos]"
                      routerLinkActive="active">-Firmar Evaluaciones</button>

            </mat-expansion-panel>
            <br>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Registro de Beneficiarios/Capacitaciones (Anexo 12)
                </mat-panel-title>
              </mat-expansion-panel-header>

              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/registro_beneficiarios',persona.id, persona.cedula, persona.nombrescompletos]"
                      routerLinkActive="active">-Nueva Capacitación</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/ver_registro_beneficiarios',persona.id, persona.cedula, persona.nombrescompletos]"
                      routerLinkActive="active">-Ver Capacitaciones</button>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Registro de Visitas a la Institución (Anexo 13)
                </mat-panel-title>
              </mat-expansion-panel-header>

              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/nueavavisita',persona.cedula]"
                      routerLinkActive="active">-Nueva visita</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/vervisitas',persona.cedula]"
                      routerLinkActive="active">-Ver visitas</button>
            </mat-expansion-panel>
            <br>






          </div>
          <!--Director-->
          <div class="list-group" *ngSwitchCase="'DP'">
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Firmas de anexos
                </mat-panel-title>
              </mat-expansion-panel-header>

              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/docentedeapoyo',persona.cedula]"
                      routerLinkActive="active">-Delegación Miembro de proyecto (Anexo 1)</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/delegaciondealumnosfirma',persona.cedula]"
                      routerLinkActive="active">-Delegación de Alumnos (Anexo 5)</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/firmaranexo61',persona.cedula]"
                      routerLinkActive="active">-Firmar Seguimiento Parcial (Anexo 6.1)</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/firmaranexo62',persona.cedula]"
                      routerLinkActive="active">-Firmar Seguimiento Final (Anexo 6.2)</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/firmaranexo8',persona.cedula,persona.nombrescompletos]"
                      routerLinkActive="active">-Revisar y Firmar Registro Diario Estudiantes (Anexo 8)</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/firmar_seguimiento_mensual',persona.cedula, persona.nombrescompletos]"
                      routerLinkActive="active">-Seguimiento Mensual Planificación (Anexo 9)</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/firmarpladeaprendizajeapoyo',persona.cedula]"
                      routerLinkActive="active">-Revisión de Informe culminación (Anexo 10) </button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/firmarpladeaprendizajedirector',persona.cedula]"
                      routerLinkActive="active">-Aceptación de Informe culminación (Anexo 10)</button>
              </mat-expansion-panel>
            <br>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Seguimienmto de aprendizaje parcial
                </mat-panel-title>
              </mat-expansion-panel-header>
              <!--Redireccion con los routerlink-->
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/anexo6_1',persona.id,persona.cedula,persona.nombrescompletos]"
                      routerLinkActive="active">-Nuevo seguimiento (Parcial)</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/veranexos6_1',persona.cedula,persona.nombrescompletos]"
                      routerLinkActive="active">-Ver seguimientos (Parcial)</button>
              <!--Redireccion con los routerlink-->
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/anexo6_2',persona.id,persona.cedula,persona.nombrescompletos]"
                      routerLinkActive="active">-Nuevo seguimiento (Final)</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/veranexos6_2',persona.cedula,persona.nombrescompletos]"
                      routerLinkActive="active">-Ver seguimientos (Final)</button>

            </mat-expansion-panel>

            <br>
            <br>

            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Planificación Mensual de Actividades (Anexo 7)
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/nuevaplaificacionmensual',persona.cedula,persona.nombrescompletos]"
                      routerLinkActive="active">-Nueva Planificación</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/verplatificaciones',persona.cedula,persona.nombrescompletos]"
                      routerLinkActive="active">-Ver Planificaciones </button>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                 Revisión de informe de culminación (Anexo 10)
                </mat-panel-title>
              </mat-expansion-panel-header>

             <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/firmarpladeaprendizajeapoyo',persona.cedula]"
                      routerLinkActive="active">-Revisión de Informe culminación (Anexo 10) </button>
             </mat-expansion-panel>
            <br>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Evaluacion al Estudiante (Anexo 11)
                </mat-panel-title>
              </mat-expansion-panel-header>
              <!--Redireccion con los routerlink-->

              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/anexo11',persona.cedula,persona.nombrescompletos]"
                      routerLinkActive="active">-Evaluacion al Estudiante Asignados</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/anexo11director',persona.cedula,persona.nombrescompletos]"
                      routerLinkActive="active">-Completar Evaluaciones</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/firmaranexo11director',persona.cedula,persona.nombrescompletos]"
                      routerLinkActive="active">-Firmar Evaluaciones</button>
            </mat-expansion-panel>
            <br>

            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Registro Visitas a la Institución (Anexo 13)
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/nueavavisita',persona.cedula]"
                      routerLinkActive="active">-Nueva Visita</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/vervisitas',persona.cedula]"
                      routerLinkActive="active">-Ver Visitas Creadas</button>
            </mat-expansion-panel>
<br>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Informe de Seguimiento
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/informe_seguimiento',persona.cedula, persona.nombrescompletos]"
                      routerLinkActive="active">-Nuevo Informe Seguimiento</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/lista_informe_seguimiento',persona.cedula, persona.nombrescompletos]"
                      routerLinkActive="active">-Ver Informes de Seguimiento</button>

            </mat-expansion-panel>
            <br>

            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Informe Final
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/informe_final',persona.cedula, persona.nombrescompletos]"
                      routerLinkActive="active">-Nuevo Informe Final</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/lista_informe_final',persona.cedula, persona.nombrescompletos]"
                      routerLinkActive="active">-Ver Informes Finales</button>
            </mat-expansion-panel>
            <br>

          </div>
          <!--Resposanle de PPP-->
          <div class="list-group" *ngSwitchCase="'RPPP'">
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Datos Adicionales del Proyecto
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/verproyectos1',persona.cedula]"
                      routerLinkActive="active">-Actividades y Materias</button>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                 Convocatoria Participación de Proyectos (Anexo 2)
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/nuevaconvocatoria',persona.cedula]"
                      routerLinkActive="active">-Nueva Convocatoria</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/verconvocatoria',persona.cedula]"
                      routerLinkActive="active">-Ver Convocatorias Creadas</button>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Firmar Solicitud de Participaciones (Anexo 3)
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/verportulaciones1',persona.cedula]"
                      routerLinkActive="active">-Ver Solicitudes</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/verfirmarportulaciones',persona.cedula]"
                      routerLinkActive="active">-Firmas de Aceptación</button>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Delegación de Alumnos a Docentes (Anexo 5)
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/delegaciondealumnos',persona.cedula]"
                      routerLinkActive="active">-Nueva Delegación</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/verdelegacion',persona.cedula]"
                      routerLinkActive="active">-Ver Delegaciones</button>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Plan de Aprendizaje (Anexo 6)
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/nuevoplandeaprendizaje',persona.cedula]"
                      routerLinkActive="active">-Nuevo Plan de Aprendizaje</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/verplanifiaciones',persona.cedula]"
                      routerLinkActive="active">-Ver Planes de Aprendizaje</button>
              <br>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Selección de estudiantes (Informe)
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/estudiantesseleccionado',persona.cedula]"
                        routerLinkActive="active">-Estudiantes Seleccionados</button>
                <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/verestudiantesseleccionado',persona.nombrescompletos]"
                        routerLinkActive="active">-Ver informe de selección</button>
              </mat-expansion-panel>
            </mat-expansion-panel>
          </div>
          <!--Estudiante-->
          <div class="list-group" *ngSwitchCase="'EST'">
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Solicitud de Participación (Anexo 3)
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/verconvocatoria1',persona.cedula]"
                      routerLinkActive="active">-Lista de Convocatorias</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/verportulaciones',persona.cedula]"
                      routerLinkActive="active">-Solicitudes Enviadas</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/firmarportulaciones',persona.cedula]"
                      routerLinkActive="active">-Firmar Aceptación</button>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Registro Diario de Actividades (Anexo 8)
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/registroactividadesestudiante',persona.cedula,persona.nombrescompletos]"
                      routerLinkActive="active">-Nuevo Registro de Actividades</button>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Informe de Culminación (Anexo 10)
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/nuevoinformedeculminacion',persona.cedula]"
                      routerLinkActive="active">-Nuevo Informe Culminación</button>
              <button mat-button class="id-menus" [routerLink]="['/panelusuario/proyectovinculacion/verinformedeculminación',persona.cedula]"
                      routerLinkActive="active">-Ver Informes Culminación</button>
            </mat-expansion-panel>
          </div>
        </div>
        <br>
      </ng-container>
    </mat-drawer>

    <div class="example-sidenav-content">
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>

  </mat-drawer-container>
  <app-footer></app-footer>

  <ng-container *ngIf="issloading">
    <div class="bss-loader">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
</section>
