<div *ngIf="issloading==false">
  <mat-card>
    <mat-card-title>ANEXOS 11</mat-card-title>
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>BUSCAR..</mat-label>
      <input matInput   placeholder="FILTRAR" [formControl]="myControl">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </mat-card>
  <br>
  <div *ngIf="isexist">
    <div *ngFor="let anex11 of filteredOptions | async">
      <mat-card class="example-card">
        <mat-card-header>
            <mat-card-subtitle class="mat-cardss-subtitle"><b>Carrera:</b>  {{anex11.carrera}}</mat-card-subtitle>
          <mat-card-subtitle class="mat-cardss-subtitle"><b>Director:</b>  {{anex11.nombreDirector}}</mat-card-subtitle>
          <mat-card-subtitle class="mat-cardss-subtitle"><b>Docente de Apoyo:</b>  {{anex11.nombreApoyo}}</mat-card-subtitle>
          <mat-card-subtitle class="mat-cardss-subtitle"><b>Estudiante:</b>  {{anex11.nombresEstudiante}}</mat-card-subtitle>
          <span class="example-spacer"></span>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">

            <button mat-menu-item (click)="eliminarAnexo11(anex11)">
              <mat-icon color="warn">delete_forever</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </mat-card-header>
        <mat-card-content>
          <mat-card-subtitle class="mat-cardss-subtitle"><b>Fecha de Inicio:</b>  {{anex11.fechaInicio | date:"longDate"}}</mat-card-subtitle>
          <mat-card-subtitle class="mat-cardss-subtitle"><b>Fecha de Finalizacion:</b>   {{anex11.fechaFinaliza| date:"longDate"}}</mat-card-subtitle>
          <mat-card-title class="mat-cardss-subtitle"><b>PUNTAJE:</b>  {{anex11.apoyoPuntaje}}</mat-card-title>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                RESULTADOS DE EVALUACION
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p *ngFor="let act of anex11.apoyo">
              Item: {{act.apoyoItem1}}  , Calificacion:{{act.apoyoItem3}}

          </mat-expansion-panel>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div *ngIf="isexist==false">
    <mat-card>
      <mat-card-title>NO EXISTEN </mat-card-title>
    </mat-card>
  </div>
</div>
<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: auto;">
    <center>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </center>
  </div>
</ng-container>


