<div *ngIf="issloading==false">
  <mat-card>
    <mat-card-title>PROYECTOS CREADOS</mat-card-title>
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>BUSCAR PROYECTO</mat-label>
      <input matInput   placeholder="FILTRAR" [formControl]="myControl">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </mat-card>
  <br>
  <div *ngIf="isexist">
    <div *ngFor="let proyecto of filteredOptions | async">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Nombre: {{proyecto.nombre}}</mat-card-title>


          <span class="example-spacer"></span>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/panelusuario/proyectovinculacion/editarproyecto',proyecto.id,cedulaCor,nombreCor]">
              <mat-icon color="primary">edit</mat-icon>
              <span>Editar</span>
            </button>
            <button mat-menu-item (click)="eliminarProyecto(proyecto)">
              <mat-icon color="warn">delete_forever</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Carrera: </strong>{{proyecto.carrera}}</p>
          <p><strong>Fecha de Inico y Fin: </strong>{{proyecto.fechaFin | date:"longDate"}} - {{proyecto.fechaFin | date:"longDate"}}</p>
          <p><strong>Director: </strong>{{proyecto.nombredirector}}</p>
          <p><strong>Plazo:</strong> {{proyecto.plazoEjecucion}}</p>
          <p><strong>Objetivo General: </strong>{{proyecto.objetivoGeneral}}</p>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Objetivos especificos
              </mat-panel-title>
            </mat-expansion-panel-header>
              <p *ngFor="let objetivos of proyecto.objetivosEspecificosProyecto" > {{objetivos.descripcion}}</p>
          </mat-expansion-panel>
          <br>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Más información.
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Actividades
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p *ngFor="let actividales of proyecto.actividadeslistProyectos" > <mat-divider></mat-divider>
                <br>{{actividales.descripcion}}</p>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Requisitos
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p *ngFor="let requisitos of proyecto.requisitoslistProyectos" ><mat-divider></mat-divider>
                <br> {{requisitos.descripcion}}</p>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Docentes de Apoyo
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p *ngFor="let docentes of proyecto.docenteApoyoResponse" >
                <mat-divider></mat-divider>
                <br>
                <strong>Cédula: </strong>{{docentes.cedula}} || <strong>Nombres: </strong>{{docentes.nombres}}</p>
            </mat-expansion-panel>
          </mat-expansion-panel>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div *ngIf="isexist==false">
    <mat-card>
      <mat-card-title>NO EXISTEN PROYECTOS.</mat-card-title>
    </mat-card>
  </div>
</div>
<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: auto;">
    <center>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </center>
  </div>
</ng-container>
