<div *ngIf="issloading==false">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>VISITAS</mat-card-title>
      <mat-card-subtitle>Actualización de visitas</mat-card-subtitle>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="convertFile(anexo13.documento)">
          <mat-icon color="warn">download</mat-icon>
          <span>Descargar Anexo</span>
        </button>
      </mat-menu>
    </mat-card-header>
    <mat-card-content>
      <h3><strong>Ciclo: </strong> {{anexo13.ciclo}}</h3>
      <h3><strong>Peridodo: </strong> {{date1 | date:'mediumDate'}} a {{date2 | date:'mediumDate'}} </h3>
      <h3><strong>Empresa: </strong> {{anexo13.empresa}}</h3>
      <h3><strong>Representante legal: </strong> {{anexo13.representanteLegal}}</h3>
      <h3><strong>Observaciones: </strong> {{anexo13.observaciones }}</h3>
      <h3><strong>Alumnos: </strong></h3>
      <h3 *ngFor=" let alumnos of anexo13.estudiantesVisitas ">
        <strong>Cédula: </strong>{{alumnos.cedula}}
        <strong>  Nombres: </strong>{{alumnos.nombre}}</h3>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="generate(anexo13,proyecto,date1,date2)">OBTENER ANEXO ACTUALIZADO</button>
      <button mat-raised-button color="primary" (click)="subiranexo(anexo13)">SUBIR ANEXO FIRMADO</button>
    </mat-card-actions>
  </mat-card>
</div>
<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: auto;">
    <center>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </center>
  </div>
</ng-container>
