<div *ngIf="issloading==false">
  <mat-card>
    <mat-card-title>REVISIÓN INFORMES DE CULMINACION</mat-card-title>
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>BUSCAR INFORMES</mat-label>
      <input matInput   placeholder="FILTRAR" [formControl]="myControl">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </mat-card>
  <br>
  <div *ngIf="isexist">
    <div *ngFor="let anex10 of filteredOptions | async">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Proyecto: {{anex10.nombreProyecto}}</mat-card-title>
          <mat-card-title>Empresa: {{anex10.nombreEmpresa}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Docente Apoyo:</strong> {{anex10.nombreDocenteapoyo}}</p>
          <p><strong>Fecha de Inico y Fin:</strong> {{anex10.fechaFin | date:"longDate"}} - {{anex10.fechaFin | date:"longDate"}}</p>
          <p><strong>Director:</strong> {{anex10.nombreDirector}}</p>
          <p><strong>Cédula:</strong> {{anex10.cedulaEstudiante}}</p>
          <p><strong>Estudiante:</strong> {{anex10.nombreEstudiante}}</p>
          <strong *ngIf="date>=anex10.fechaFin">Fuera de tiempo</strong>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="convertFile(anex10.documento)">Firmar Anexo</button>
          <button mat-raised-button color="warn" (click)="subiranexo(anex10)">Subir anexo</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div *ngIf="isexist==false">
    <mat-card>
      <mat-card-title>No existen revisiones de informes de culminación.</mat-card-title>
    </mat-card>
  </div>
</div>
<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: auto;">
    <center>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </center>
  </div>
</ng-container>

